Q1. What is a database? Differentiate between SQL and NoSQL databases.

 Database:-A database is a collection of data that is organized so that it can be easily accessed,
           managed, and updated. Databases are used to store all sorts of data, from customer records
           to product inventory to financial transactions.
           
           
 Differentiate:- (1)SQL Databases (Relational Databases):  
                                 SQL Structured Query Language databases are relational databases, which means that data
                                 is stored in tables that
                                 are linked together by common fields.
                 
                (2)NoSQL:-number of Structured Query Language :-
                         NoSQL databases are non-relational databases, which means that data is stored in a 
                         variety of ways, such as key-value pairs, documents, or graphs.
                        
                        
                        
              Feature	                                     SQL	                                   NoSQL
             Data model                                    Relational	                             Non-relational
             Schema                                        Predefined	                             Dynamic
             Queries	                                     SQL                                    	 Custom languages
             Scalability                                   Vertical	                             Horizontal
             Use cases	                                 Structured data, transactions	Unstructured data, real-time applications

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

 DDL:-DDL stands for Data Definition Language. 
                                It is a set of commands used to define the structure of a database.
                                DDL commands are used to create, modify, and drop database objects, 
                                such as tables, views, and indexes.

 CREATE:
        The CREATE command is used to create a new database object.
        For example, to create a table named "Employees" with columns
        for ID, Name, and Salary
        
CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(255),
  email VARCHAR(255)
);

 DROP:-
     This command is used to delete database objects. 
         DROP TABLE Employees;

 ALTER:-
     This command is used to modify existing database objects.
        ALTER TABLE customers ADD COLUMN phone_number VARCHAR(255);

 TRUNCATE:-
    This command is used to delete all rows from a table.
    However, it does not delete the table itself.
    TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

  DML:- stands for Data Manipulation Language. It is a subset of SQL commands used
        to manipulate and retrieve data within a database.

  INSERT:-INSERT command is used to add new rows of data into a table.
          It allows you to specify the values to be inserted into specific columns.
          
          INSERT INTO Employees (ID, Name, Salary)
          VALUES (1, 'John Doe', 5000);

  UPDATE:- UPDATE command is used to modify existing data in a table.
          It allows you to update specific columns of one or more rows based on specified conditions.
          
          UPDATE Employees
          SET Salary = 6000
          WHERE ID = 1;

  DELETE:-DELETE command is used to remove one or more rows from a table based on 
          specified conditions. It permanently deletes the selected rows from the table
          
          DELETE FROM Employees
          WHERE ID = 1;

Q4. What is DQL? Explain SELECT with an example.

  DQL:- stands for Data Query Language. It is a set of commands used to retrieve data
        from a database. DQL commands are used to           
        select, insert, update, and delete data from tables.
        
        
        DQL is primarily associated with the SELECT statement, which allows you to
        retrieve specific data from one or more database tables based on specified
        
        SELECT statement is used to query data from a table or multiple tables in
        a database. It allows you to specify the columns to be selected,
        apply filters and conditions, perform 
        
        SELECT column1, column2, ...
        FROM table_name
        WHERE condition;

    example where we have a table named "Employees" with columns such as ID, Name, Age,
           and Salary. We want to retrieve the names and salaries of employees who are above
           the age of 30. The SELECT statement for this scenario would be:

       SELECT Name, Salary
       FROM Employees
       WHERE Age > 30;
       
       statement selects the Name and Salary columns from the "Employees" table where the Age 
            is greater than 30. The result would be a set of rows that match the specified condition,
            containing the names and salaries of employees who are above 30 years old

Q5. Explain Primary Key and Foreign Key.

  Primary Key:-
    primary key is a column or a combination of columns that uniquely identifies a row in a table.
    A primary key must be unique and cannot contain null values.
    
    
       1. Uniqueness: Each value in the primary key column(s) must be unique, ensuring that
        no two records in the table have the same primary key value.

      2. Non-nullability: The primary key column(s) cannot contain null values. 
        Each record must have a valid value for the primary key.

     3.  Immutability: The primary key values should not change over time.
       It should be a stable and unchanging identifier for the record.

     4.  Single-value constraint: A primary key can consist of one or more columns,
       but the combination of values should be unique for each record.
             
             
             
             primary key plays a crucial role in establishing relationships between tables
             and enforcing data integrity. It is used as a reference by foreign keys in other 
             tables to maintain referential integrity.
             
             
             
             
             
    Foreign Key:- foreign key is a column or a combination of columns in a database table that establishes
             a link or relationship between two tables. It refers to the primary key in another table,
             creating a relationship between the two tables. The purpose of a foreign key is to enforce
             referential integrity and ensure that the data in the referencing table matches the data in
             the referenced table. Key characteristics of a foreign key 
             
             
             
             
              1.  Referential Integrity: The foreign key ensures that the values in the referencing 
                column(s) match the values in the referenced primary key column(s). It helps maintain 
                consistency and prevents orphaned records.

              2. Relationship Establishment: By referencing the primary key of another table, 
               the foreign key establishes a relationship between the two tables.
               It represents the association or dependency between related data.

              3. Multiple Occurrences: A foreign key can occur multiple times in a table,
               indicating a one-to-many or many-to-many relationship between the tables.

             4. Nullable Constraint: While a foreign key is typically non-null,
              it can also allow null values. This indicates that a relationship may not exist or is optional.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

def connect_to_mysql():
    """Connect to MySQL database."""
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="password",
        database="my_database"
    )
    return connection

def execute_query(connection, query):
    """Execute a SQL query."""
    cursor = connection.cursor()
    cursor.execute(query)
    return cursor

def main():
    """Connect to MySQL and execute a query."""
    connection = connect_to_mysql()
    cursor = execute_query(connection, "SELECT * FROM customers")
    for row in cursor:
        print(row)

if __name__ == "__main__":
    main()

    1.  This code first imports the mysql.connector library. 
        This library provides a Python API for connecting to MySQL databases.
      
     2.connect_to_mysql() function connects to the MySQL database and returns a connection object.
       The connection object is used to execute SQL queries. 
       
       
     3.xecute_query() function executes a SQL query and returns a cursor object.
       The cursor object is used to fetch the results of the query.
       
       
     4. main() function connects to the MySQL database and executes a query.
        The query selects all rows from the customers table. The results of
        the query are printed to the console.
        
        
        
        
        The cursor() and execute() methods are used to execute SQL queries in Python.
        The cursor() method creates a cursor object that can be used to execute queries.
        The execute() method executes a SQL query and returns a result set.
        The result set can be used to fetch the results of the query.

Q7. Give the order of execution of SQL clauses in an SQL query.

    1. FROM: The FROM clause specifies the tables from which the data will be retrieved.
       It identifies the source tables involved in the query.
     
    2.WHERE: The WHERE clause is used to filter the rows based on specified conditions.
      It allows you to retrieve only the rows that satisfy the given conditions.
      
    3.GROUP BY: The GROUP BY clause is used to group rows together based on specified columns.
      It is typically used in conjunction with aggregate functions like SUM, COUNT, AVG, etc.,
      to perform calculations on grouped data.
      
    4.HAVING: The HAVING clause is used to filter the grouped rows based on conditions.
      It works similar to the WHERE clause but operates on grouped data.
      
      
    5.SELECT: The SELECT clause specifies the columns to be retrieved in the result set.
      It determines the structure of the output and the columns that will be displayed
      
      
    6.DISTINCT: The DISTINCT keyword is used to eliminate duplicate rows from the result set.
      It ensures that each row in the output is unique.
      
    7.ORDER BY: The ORDER BY clause is used to sort the result set based on specified columns.
      It allows you to arrange the rows in ascending or descending order.
      
    8.LIMIT/OFFSET: The LIMIT and OFFSET clauses are used for pagination purposes.
      They limit the number of rows returned in the result set and allow you to skip a certain number of rows.